<div class="p-basic-usage">
  <ul class="p-basic-usage-list">
    <li class="p-basic-usage-item">
      <p-pill text="Install" />
      <p>
        Pitsby is available via <i>npm</i>.
      </p>
      <p-code>npm install -g @glorious/pitsby</p-code>
    </li>
    <li class="p-basic-usage-item">
      <p-pill text="Setup" />
      <p>
        Pitsby is based on two types of file. Choose a technology to see how simple they are.
      </p>
      <p-setup />
    </li>
    <li class="p-basic-usage-item">
      <p-pill text="Build" />
      <p>
        Once you have set up a <i>configuration file</i> and, at least, one <i>
        documentation file</i>, you can easily generate the website running:
      </p>
      <p-code>pitsby build</p-code>
      <p>
        You can see the result serving it
        with <p-link href="https://www.npmjs.com/package/http-server">http-server</p-link>
        or any other lib that you prefer:
      </p>
      <p-code>http-server ./pitsby</p-code>
    </li>
    <li class="p-basic-usage-item">
      <p-pill text="Watch" />
      <p>
        You can optionally keep Pitsby watching the changes you make on any file listed
        on the <i>configuration file</i>. To do this, use the <i>watch</i> flag:
      </p>
      <p-code>pitsby build --watch</p-code>
      <p>
        The website will be running on <i>http://localhost:7000</i>.
      </p>
    </li>
    <li class="p-basic-usage-item">
      <p-pill text="Deploy" />
      <p>
        When your changes are ready to be deployed, set the Node environment to <i>
        production</i> to make Pitsby build optimized files:
      </p>
      <p-code>NODE_ENV=production pitsby build</p-code>
    </li>
  </ul>
</div>
