<ul class="p-features-list">
  <li>
    <p-icon name="lightning" />
    <h2>
      Lightning Setup
    </h2>
    <p>
      No rules. No loaders. No regex. Ship your docs with a couple of super
      simple declarations.
    </p>
  </li>
  <li>
    <p-icon name="cog" />
    <h2>
      Wide Support
    </h2>
    <p>
      Support to legacy and modern frameworks. Perfect for companies migrating
      from AngularJS to Vue or React.
    </p>
  </li>
  <li>
    <p-icon name="ball" />
    <h2>
      Playground
    </h2>
    <p>
      Prototype and share component compositions with your workmates.
    </p>
  </li>
  <li>
    <p-icon name="chart" />
    <h2>
      Analytics Integration
    </h2>
    <p>
      Find out which components people are most interested in.
    </p>
  </li>
  <li>
    <p-icon name="tools" />
    <h2>
      Fully Customizable
    </h2>
    <p>
      Use your own logo, favicon, window title and everything else you want.
    </p>
  </li>
  <li>
    <p-icon name="heart" />
    <h2>
      Open Source
    </h2>
    <p>
      Forever free and lovely crafted.
    </p>
  </li>
</ul>
