<div class="p-adopters-list-wrapper">
  <ul class="p-adopters-list">
    <li class="p-adopters-item">
      <div class="p-adopters-item-image">
        <p-lazy-load>
          <img src="/images/adopters-taslonic.svg" alt="Tasloni’s logotype" width="300" height="90" />
        </p-lazy-load>
      </div>
      <div>
        <p-link href="https://taslonic.com" target="_blank" rel="noopener noreferrer">
          Taslonic
        </p-link> & 
        <p-link href="https://components.taslonic.com/" target="_blank" rel="noopener noreferrer">
          Docs
        </p-link>
      </div>
    </li>
    <li class="p-adopters-item">
      <div class="p-adopters-item-image">
        <p-lazy-load>
          <img src="/images/adopters-osl.svg" alt="Open Systems Lab’s logotype" width="300" height="90"" />
        </p-lazy-load>
      </div>
      <div>
        <p-link href="https://www.opensystemslab.io/" target="_blank" rel="noopener noreferrer">
          Open Systems Lab
        </p-link> & 
        <p-link href="https://oslmap.netlify.app/" target="_blank" rel="noopener noreferrer">
          Docs
        </p-link>
      </div>
    </li>
    <li class="p-adopters-item">
      <div class="p-adopters-item-image">
        <p-lazy-load>
          <img src="/images/adopters-dav.svg" alt="Open Systems Lab’s logotype" width="300" height="90"" />
        </p-lazy-load>
      </div>
      <div>
        <p-link href="https://dav-apps.tech/" target="_blank" rel="noopener noreferrer">
          Dav Apps
        </p-link> &
        <p-link href="https://components.dav-apps.tech/" target="_blank" rel="noopener noreferrer">
          Docs
        </p-link>
      </div>
    </li>
  </ul>
  <p-alert theme="info">
    Have you adopted Pitsby? Showcase your project here.
    <p-link href="https://forms.gle/X8JuWQRFjrqoUK4P7" target="_blank" rel="noopener noreferrer">
      Submit
    </p-link>.
  </p-alert>
</div>
