<p-viewport>
  <p-home-hero />
  <p-section title="Features" id="features">
    <p-container>
      <p-row>
        <p-col size="12">
          <p-features-list />
        </p-col>
      </p-row>
    </p-container>
  </p-section>
  <p-section title="Basics" theme="secondary" id="basics">
    <p-container>
      <p-row>
        <p-col size="12">
          <p-basic-usage />
        </p-col>
      </p-row>
    </p-container>
  </p-section>
  <p-section title="Seamless. Beautiful. Declarative.">
    <p-container>
      <p-row>
        <p-col size="3" offset="3">
          <p-button
            tag="a"
            theme="primary"
            href="https://demo.pitsby.com"
            target="_blank"
            block>
            Live Demo
          </p-button>
        </p-col>
        <p-col size="3">
          <p-button
            tag="router-link"
            theme="secondary"
            :to="{ name: 'documentation' }"
            block>
            Documentation
          </p-button>
        </p-col>
      </p-row>
    </p-container>
  </p-section>
</p-viewport>
