@require '_variables'
@require '_mixins'

html,
body
  margin 0
  min-height 100vh
  color $color-lightest
  font-size 16px
  font-family $font-family-primary
  font-weight 300

h1, h2, h3, h4, h5, h6
  margin 0
  font-weight 400

h1
  font-size $font-size-xxl
  letter-spacing -1px

h2
  font-size $font-size-xl

h3
  font-size $font-size-md

p
  margin 0
  line-height 1.5

h3 + p,
p + h3,
p + p
  margin-top 20px

a
  display inline-block
  color $color-purple
  text-decoration none

ul
  margin 0
  padding 0
  list-style-type none

blockquote
  margin 0

input, textarea
  padding 10px 15px
  width 100%
  font-size $font-size-sm
  border 1px solid $color-grey
  border-radius(6px)
  box-sizing(border-box)
  +highlight()
    border 1px solid $color-purple
    outline 0

button
  min-width 100px
  padding 10px 15px
  background-color $color-blue
  color $color-lightest
  font-size $font-size-sm
  font-weight bold
  border 1px solid $color-blue
  cursor pointer
  border-radius(6px)
  &:hover,
  &:active,
  &:focus
    background-color lighten($color-blue, 5)
    outline 0

label
  display block
  margin-bottom 8px
  color $color-lightest
  font-size $font-size-xxxs
  font-weight bold
  text-transform uppercase

em
  display inline-block
  padding 0 2px
  color $color-grey-dark
  font-family $font-family-secondary
  font-style italic
