@require '_variables'
@require '_mixins'

theme($background-color, $color)
  background-color $background-color
  color $color
  border-color alpha($color, .5)

.p-alert
  position relative
  padding 12px
  font-size $font-size-xs
  border-width 1px
  border-style solid
  theme($color-yellow-lighter, $color-yellow-darker)
  border-radius(4px)
  box-sizing(border-box)
  &.p-alert-danger
    theme($color-red-lighter, $color-red-dark)
    .p-alert-trigger
      color $color-red-dark
  &.p-alert-success
    theme($color-green-lighter, $color-green-dark)
  &.p-alert-info
    theme($color-blue-lighter, $color-blue)
  &.p-alert-has-trigger
    padding-right 100px
  ul
    padding-left 30px
    list-style-type disc
  li
    margin-top 20px

.p-alert-trigger
  position absolute
  top 15px
  right 15px
  padding 0
  background-color transparent
  text-transform uppercase
  font-weight 600
  cursor pointer
  border 0
  webkit-appearance(none)
