.p-basic-usage
  text-align center
  .p-setup
    margin-top 10px
  .p-code,
  p
    display block
    margin 20px auto 0
    max-width 650px
  .p-basic-usage-item + .p-basic-usage-item
    margin-top 100px
