@require '_variables'
@require '_mixins'

.p-code
  display inline-block
  padding 20px
  background-color $color-grey-light
  font-family $font-family-secondary
  border-radius(5px)
  box-sizing(border-box)
