@require '_variables'
@require '_mixins'

.p-features-list
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-gap 80px 50px
  margin 0 auto
  max-width 1080px
  text-align center
  list-style-type none
  .p-icon
    position absolute
    top 0
    left 50%
    width 40px
    height 40px
    background-color $color-blue
    transform('translateX(-50%)')
  h3
    color $color-blue
    font-size $font-size-xl
    font-weight bold
  p
    margin-top 10px
    color $color-grey-dark
    font-size $font-size-xs
  li
    position relative
    padding-top 50px

+breakpoint('xs')
  .p-features-list
    grid-template-columns 1fr
    grid-gap 50px
    margin-left 0
