@require '_variables';

.p-github-star-link
  display inline-flex
  align-items center
  background-image linear-gradient(180deg, $color-grey-lighter 0%, $color-grey-light 100%)
  color $color-darkest
  font-family -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif
  font-size 11px
  font-weight bold
  border-radius 3px
  border-width 1px
  border-style solid
  border-color $color-grey
  overflow hidden
  svg
    margin-left 5px

.p-github-star-link-label,
.p-github-star-link-count
  padding 5px

.p-github-star-link-count
  background-color $color-lightest
  border-width 0 0 0 1px
  border-style solid
  border-color #d5d8da
