@require '_mixins'

.p-github-button-widget
  &.p-github-button-widget-visible
    .p-github-button-widget-link-container
      opacity 1
  .p-github-button-widget-link-container
    opacity 0
    transition(all, 300ms)
