@require '_variables'

.p-hero
  padding 190px 0
  background linear-gradient(120deg, #390097 0%, #002A80 100%)
  h1
    max-width 590px
    font-size 68px
    line-height 1
    letter-spacing -1px
  p
    margin-top 20px
    font-size $font-size-xs
