@require '_variables'
@require '_mixins'

.p-hero
  padding 190px 0 60px
  background linear-gradient(120deg, #390097 0%, #002A80 100%)
  color $color-lightest
  h1
    max-width 590px
    font-size 68px
    line-height 1
    letter-spacing -1px
  p
    margin-top 20px
    font-size $font-size-xs

+breakpoint('xs')
  .p-hero
    padding 140px 0 60px
    h1
      font-size 42px
    p
      max-width 300px
