@require '_variables'
@require '_mixins'

.p-home-hero
  .p-hero
    padding 190px 0
  .p-container
    position relative
  .p-github-button-widget
    display none
    position relative
    top 30px

.p-home-hero-ph-badge
  position relative
  top 20px
  border 0

.p-home-hero-bars,
.p-home-hero-bird,
.p-home-hero-live-demo-link
  position absolute
  transition(all, 300ms)

.p-home-hero-bars
  bottom -118px
  left 0
  width 80px

.p-home-hero-bird
  top -40px
  right 0
  width 726px
  opacity 1

.p-home-hero-live-demo-link
  bottom -107.5px
  right 0

+breakpoint('xs-sm')
  .p-home-hero-bird
    opacity 0

+breakpoint('xs')
  .p-home-hero
    .p-hero
      padding 140px 0 170px
    .p-github-button-widget
      display inline-block
  .p-home-hero-live-demo-link
    right 10px
