@require '_variables'

.p-home-hero
  color $color-lightest
  .p-container
    position relative

.p-home-hero-bars,
.p-home-hero-bird,
.p-home-hero-live-demo-link
  position absolute

.p-home-hero-bars
  bottom -118px
  left 0
  width 80px

.p-home-hero-bird
  top -40px
  right 0
  width 726px

.p-home-hero-live-demo-link
  bottom -107.5px
  right 0
