@require '_variables'
@require '_mixins'

.p-home-panel
  display flex
  align-items center
  min-height 100vh
  h1
    font-size $font-size-xl
    font-weight bold

+breakpoint('xs')
  .p-home-panel
    display block
    padding 50px 0
