@require '_variables'
@require '_mixins'

.p-home-panel
  h1
    font-size $font-size-xl
    font-weight bold
  a
    font-size $font-size-xs

.p-home-panel-logo-container
  position relative
  .p-tag
    position absolute
    top 50%
    left 145px
    color $color-orange
    border-color $color-orange
    transform('translateY(-50%)')

+breakpoint('xs')
  .p-home-panel
    display block
    .p-features-list
      margin-top 50px
