@require '_mixins'

.p-newsletter-form-elements
  position relative
  button
    position absolute
    top 0
    right 0
    width 110px
    border-radius(0 6px 6px 0)
  input
    padding-right 110px

.p-newsletter-form-alert-container
  margin-bottom 30px
