@require '_variables'
@require '_mixins'

.p-pill
  display inline-block
  padding 5px 75px
  min-width 200px
  background-color $color-grey-dark
  color $color-lightest
  font-size $font-size-xxs
  font-weight bold
  text-transform uppercase
  border-radius(10px)
  box-sizing(border-box)
