@require '_mixins'
@require 'col'

.p-row
  margin 0 $col-padding * -1
  clearfix()
  & + .p-row
    margin-top 15px
  &.p-row-vertical-centered
    display flex
    align-items center
  &.p-row-horizontal-centered
    text-align center
  for $size in (1..10)
    &.p-row-vertical-offset-{$size}
      margin-top $size * 10px

+breakpoint('xs')
  .p-row
    &.p-row-vertical-centered
      display block
