@require '_variables'
@require '_mixins'

.p-section
  padding 180px 0
  &.p-section-secondary
    background-color $color-grey-lighter

.p-section-title
  position relative
  margin-bottom 75px
  padding-bottom 10px
  font-size $font-size-xxl
  text-align center
  letter-spacing -1px
  &:after
    position absolute
    bottom 0
    left 50%
    content ' '
    width 50px
    height 3px
    background-color $color-blue
    transform('translateX(-50%)')
