@require '_variables'
@require '_mixins'

.p-sidebar
  position relative
  .p-icon-menu
    background-color $color-lightest
    cursor pointer
  .p-icon-arrow
    background-color $color-blue

.p-sidebar-menu-button
  position absolute
  top 20px
  right 10px
  padding 10px 20px
  z-index $layer-middle

.p-sidebar-arrow-button
  position absolute
  top 20px
  right 0

.p-sidebar-content
  position fixed
  top 0
  right -100%
  padding 60px 30px 0
  width 75%
  height 100vh
  background-color $color-grey-lighter
  z-index $layer-high
  box-sizing(border-box)
  transition(all, 500ms)
  &.p-sidebar-content-visible
    right 0
  .p-menu
    li
      display block
      &:not(:first-child)
        margin-top 30px
        margin-left 0
    a:not(.p-github-star-link)
      font-size $font-size-sm
