@require '_variables'

.p-static-editor
  .editor-application
    .editor-line-text
      color $color-blue-light
    .application
      background-color #142948
    .application-content-container
      background-color #183055
