@require '_variables'
@require '_mixins'

.p-tag
  display inline-block
  padding 5px 10px
  font-size $font-size-xxxs
  font-weight bold
  text-transform uppercase
  border 1px solid $color-lightest
  border-radius(12px)
