@require '_mixins'

.p-topbar
  padding 50px 0
  .p-topbar-content
    display flex
    align-items center
    justify-content space-between
  .p-link
    a
      border 0

+breakpoint('xs')
  .p-topbar
    padding 25px 0 50px
    .p-menu
      display none
