<div class="p-home-hero">
  <p-hero
    title="Have a nice time documenting components."
    description="Create beautiful documentation for your components, writing dead simple files.">
    <a
      class="p-home-hero-ph-badge"
      href="https://www.producthunt.com/posts/pitsby?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-pitsby"
      target="_blank">
      <img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=196242&theme=dark"
        alt="Pitsby - Have a nice time documenting components | Product Hunt Embed"
        style="width: 250px; height: 54px;"
        width="250px"
        height="54px" />
    </a>
    <p-img class="p-home-hero-bars" filename="bars.svg" />
    <p-img class="p-home-hero-bird" filename="bird.svg" />
    <span class="p-home-hero-live-demo-link">
      <p-arrow-link href="https://demo.pitsby.com/#!/components/vue/alert" target="_blank">
        Live Demo
      </p-arrow-link>
    </span>
  </p-hero>
</div>
