<div class="p-home-hero">
  <p-hero
    title="Have a nice time documenting components."
    description="Create a beautiful documentation for your components writing dead simple files.">
    <p-postpone delay="10">
      <p-img class="p-home-hero-bars" filename="bars.svg" aria-hidden="true" />
    </p-postpone>
    <p-postpone delay="10">
      <p-img class="p-home-hero-bird" filename="bird.svg" aria-hidden="true" />
    </p-postpone>
    <p-github-star-link repo="glorious-codes/glorious-pitsby" v-if="shouldShowGithubStarLink"/>
    <span class="p-home-hero-live-demo-link">
      <p-arrow-link href="https://demo.pitsby.com/#!/components/vue/alert" target="_blank">
        Live Demo
      </p-arrow-link>
    </span>
  </p-hero>
</div>
