<p-viewport>
  <p-container>
    <p-row>
      <p-col size="6" offset="3">
        <p-row>
          <p-col size="12">
            <p-logo />
          </p-col>
        </p-row>
        <p-row vertical-offset="5">
          <p-col size="12">
            <h2>
              Privacy
            </h2>
          </p-col>
        </p-row>
        <p-row vertical-offset="5">
          <p-col size="12">
            <p>
              Subscribing to my newsletter, you will be notified about
              Pitsby's launch as well as updates regarding
              my <a href="https://rafaelcamargo.com/projects" target="_blank">projects</a> or
              <a href="https://rafaelcamargo.com/stories" target="_blank">stories</a>.
            </p>
            <p>
              Your email address will be very protected. It will never be
              used for selling or any other kind of trade. Also, I will never spam
              you with any advertisements.
            </p>
          </p-col>
        </p-row>
        <p-row vertical-offset="5">
          <p-col size="12">
            <router-link :to="{ name: 'home' }">
              Homepage
            </router-link>
          </p-col>
        </p-row>
      </p-col>
    </p-row>
  </p-container>
</p-viewport>
