<div class="p-home-panel">
  <p-row vertical-centered>
    <p-col size="4">
      <p-row>
        <p-col size="12">
          <div class="p-home-panel-logo-container">
            <p-logo />
            <p-tag>
              Launching Soon
            </p-tag>
          </div>
        </p-col>
      </p-row>
      <p-row vertical-offset="5">
        <p-col size="12">
          <h1>
            The declarative way of documenting components.
          </h1>
        </p-col>
      </p-row>
      <p-row vertical-offset="5">
        <p-col size="12">
          <p-newsletter-form />
        </p-col>
      </p-row>
    </p-col>
    <p-col size="8">
      <p-features-list />
    </p-col>
  </p-row>
</div>
